.main-menu {
  max-height: 1000px;
  overflow: hidden;
  -webkit-transition: max-height 1000s;
  transition: max-height 1000s;
}
.main-menu li {
  text-align: center;
}
.main-menu li select {
  cursor: pointer;
  padding: 5px;
  margin: 0 0 5px;
  background-color: #2D2D2D;
  color: #FFFFFF;
  border-radius: 5px;
  box-sizing: none;
}
.main-menu li select:hover {
  background-color: #4D4D4D;
}
.main-menu li a {
  background-color: #2D2D2D;
  color: #FFFFFF;
}
.main-menu li a:hover {
  background-color: #4D4D4D;
}
.main-menu .hide {
  max-height: 0;
}
body {
  background-image: url("../backround_images/flashlight.jpg");
}
tr:nth-child(even) {
  color: #fff;
  background-image: url("../backround_images/Bollkoll - 3 - Table/table-1.2-dark.jpg");
}
tr:nth-child(odd) {
  color: #fff;
  background-image: url("../backround_images/Bollkoll - 3 - Table/table-2.1-light.jpg") !important;
}
.table {
  margin-bottom: 0px;
}
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
  content: 'bananas';
}
.container {
  margin: 65px 0 0;
}
.nav .home-link {
  display: none;
}
@media (max-width: 767px) {
  .navbar-text {
    margin-left: 15px;
  }
  .navbar-brand {
    display: none;
  }
  .nav .home-link {
    display: block;
  }
}
