body {
  background-image: url("../backround_images/flashlight.jpg");
}
tr:nth-child(0) {
  background-color: white;
  background-image: url("../backround_images/Bollkoll - 3 - Table/table-2.1-light.jpg");
}
tr:nth-child(1) {
  background-color: grey;
  background-image: url("../backround_images/table-2.2-light.jpg");
}
