<section>

     <img class="col-xs-4 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 whiteBorder" src="../backround_images/about.jpg"> 
<!--   <div class="panel panel-default">
  </div> -->
</section>

<section class="col-xs-4 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 aboutWhiteBorder">
  <h3>Om BollKoll</h3>
  <p>Vi på Bollkoll har koll på boll och vi kände att andra som kollar på boll som också vill få bättre bollkoll ska kunna få det med hjälp av vår bollkoll-expertis på Bollkoll.</p>
</section>