<div class=" col-xs-6 col-sm-6 col-md-6 col-md-offset-3 col-lg-6 main-menu whiteBorder">
  <ul class="nav nav-pills nav-stacked">
    <li>
      <region-drop-down></region-drop-down>
    </li>
    <li>
      <division-drop-down></division-drop-down>
    </li>
  </ul>
</div>

<div class=" col-xs-6 col-sm-6 col-md-6 col-md-offset-3 col-lg-6  main-menu menuWhiteBorder" ng-class="{'hide-element': !regionDropDown || !divisionDropDown}">
  <ul class="nav nav-pills nav-stacked">
    <li>
      <a ng-href="/{{ regionDropDown }}/{{ divisionDropDown }}/spelschema">Spelschema</a>
    </li>
    <li>
      <a ng-href="/{{ regionDropDown }}/{{ divisionDropDown }}/tabell">Tabell</a>
    </li>
    <li>
      <a ng-href="/{{ regionDropDown }}/{{ divisionDropDown }}/chat">Chat</a>
    </li>
  </ul>
</div>