<div class="pagewidth wrapper">
  <form class="form-signin" "navbar-form navbar-left" ng-submit="login()" role="search">
    <h2 class="form-signin-heading">Logga in</h2>
    <input ng-keyup="faultyLogin = false" type="email" ng-model="userInfo.email" class="form-control firstInput" placeholder="E-mail">
    <input ng-keyup="faultyLogin = false" type="password" ng-model="userInfo.password" class="form-control lastInput" placeholder="Lösenord">
    <button class="inlogg btn btn-lg btn-primary btn-block" type="submit">Logga in</button>  
    <a href="/registrering"><button type="button" class="btn btn-lg btn-primary btn-block">Registrering</button></a>
  </form>
</div>