<section>

		<table>
			<tr>
				<td>{{ match.homeTeamId.name }} - {{ match.guestTeamId.name }}</td>
			</tr>
			<tr>
		    <td>{{ match.date }}</td>
		  </tr>
		  <tr>
		    <td>{{ match.homeTeamId.name }}</td>	
		  </tr>
		  <tr>
		    <td>{{ match.homeResults }}</td>
		  </tr>
		  <tr>
		    <td>{{ match.guestTeamId.name }}</td>
		  </tr>
		  <tr>
		    <td>{{ match.guestResults }}</td>
			</tr>
		</table>


		<div class="homeTeamScore">
      <button ng-click="decreaseGoals(match,'homeResults')" ng-disabled="decreaseDisallowed(match.homeResults)">-</button>
      <span>{{match.homeResults}}</span>
    	<button ng-click="increaseGoals(match,'homeResults')" ng-disabled="increaseDisallowed(match.homeResults)">+</button>
    </div>

		<div class="guestTeamScore">
      <button ng-click="decreaseGoals(match,'guestResults')" ng-disabled="decreaseDisallowed(match.guestResults)">-</button>
      <span>{{match.guestResults}}</span>
    	<button ng-click="increaseGoals(match,'guestResults')" ng-disabled="increaseDisallowed(match.guestResults)">+</button>
    </div>





	<form ng-submit="saveResults()">
	 <!--  <input type="number" ng-model="match.homeResults" placeholder="poäng hemma">
	  <input type="number" ng-model="match.guestResults" placeholder="poäng borta"> -->
	  <button type="submit" ng-click="defaultResults()"> Ångra </button>
	  <button type="submit" ng-click="saveResults()"> Spara </button>
	</form>

</section>







<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <tr>
		    <td>{{ match.guestResults }}</td>
			</tr>
      
      <input type="text" class="form-control" placeholder="Search for...">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->