<section >
  <div class="panel panel-default">
    <div class="panel-heading">Panel heading</div>
    <table class="table matches-table">
<!--       <div class="panel-body">
        <p>Some text for coming games</p>
      </div> -->
      <tr>
        <th>Hemma - Borta</th>
        <th>Tid</th>
        <th><i class="fa fa-info-circle "></i></th>
        <th><i class="fa fa-pencil-square-o"></i></th>
      </tr>
      <tbody ng-repeat="game in games">
        <tr  class="first-tr"> <!-- Results ng-repete and hide every second row -->
          <td ng-click="toggleID(game._id)">{{ game.homeTeamId.name }} - {{ game.guestTeamId.name }}</td>
          <td ng-click="toggleID(game._id)">{{ game.date }}</td>
          <td><a href="#" tooltip="Plats: Jönkas IK, Kl:12:00, Datum:1980"  tooltip-trigger="focus" tooltip-placement="left" class="fa fa-info-circle"></a></td>
          <td ng-click="toggleID(game._id)"><i ng-class="currentlyShownResult(game._id) ? 'fa fa-sort-asc' : 'fa fa-sort-desc'" ></i></td>
        </tr>
        <tr ng-hide="currentlyShownResult(game._id)" >
          <td ng-click="toggleID(game._id)">{{ game.homeResults }}  -  {{ game.guestResults }} </td>
          <td ng-click="toggleID(game._id)">{{ game.time }}</td>
          <td><a ng-href="/{{games.regionPath}}/chat" class="fa fa-comments "></a></td>
          <td><a ng-href="/{{games.regionPath}}/{{game.division}}/{{game._id}}/matchstatus" class="fa fa-pencil-square-o"></i></td>
        </tr>
      </tbody>
    </table>



    <!-- Table for played  -->
    <div class="panel-heading">Spelade matcher</div>
    <table class="table matches-table">
      <tr>
        <th>Hemma - Borta</th>
        <th>Tid</th>
        <th><i class="fa fa-info-circle "></i></th>
        <th><i class="fa fa-pencil-square-o"></i></th>
      </tr>
      <tbody ng-repeat="game in games">
        <tr ng-click="toggleID(game._id)" class="first-tr"> <!-- Results ng-repete and hide every second row -->
          <td>{{ game.homeTeamId.name }} - {{ game.guestTeamId.name }}</td>
          <td>{{ game.date }}</td>
          <td><i class="fa fa-info-circle "></i></td>
          <td><i class="fa fa-futbol-o "></i></td>
        </tr>
        <tr ng-hide="currentlyShownResult(game._id)"  >
          <td> {{ game.homeResults }}  -  {{ game.guestResults }} </td>
          <td>{{ game.time }}</td>
          <td><i class="fa fa-comments "></i></td>
          <td><i class="fa fa-pencil-square-o"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>