<section>
  <div class="panel panel-default">
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
      <p>Some text for comming games</p>
    </div>
  <!--   <div class="container">
      {{minLjusdal}}
    </div> -->

    <!-- Table for comming  -->
    <table class="table">
      <tr>
        <th>Hemma - Borta</th>
        <th>Tid</th>
        <th>Glyff</th>
      </tr>
      <tr>
        <th>Hemma - Borta</th>
        <th>Tid</th>
        <th>Glyff</th>
      </tr>
    </table>
    <!-- Table for played  -->
    <div class="panel-body">
      <p>Some text for played games</p>
    </div>
     <table class="table">
      
    </table>
  </div>
</section>