<section class="col-xs-12 col-sm-12 col-md-10 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-3 whiteBorder match-status">
  	<div class="matchTopTeam">
  		<h2 class="h2">{{ match.homeTeamId.name | uppercase }} - {{ match.guestTeamId.name | uppercase }}</h2>
      <table style="width:100%" class="table table-striped table-condensed">
			<tr>
				<td class="matchDate">
					<h3><strong>{{ match.date }}</strong></h3>
				</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				
			</tr>
      <tr>
				<td class="matchHomeTeam">
					<h4><strong>{{ match.homeTeamId.name | uppercase }}</strong></h4>
				</td>
				<td></td>
			</tr>
      <tr>
		    <td><h4><strong>{{ oldResults.homeResults }}</strong></h4></td>
		    <td>
		    	<div class="homeTeamScore">
			      <button class="scoreButtonText" ng-click="decreaseGoals(match,'homeResults')" ng-disabled="decreaseDisallowed(match.homeResults)">-</button>
			      <span><strong>{{ match.homeResults }}</strong></span>
			    	<button class="scoreButtonText" ng-click="increaseGoals(match,'homeResults')" ng-disabled="increaseDisallowed(match.homeResults)">+</button>
			    </div>
		    </td>
		  </tr>
 <!--      <tr>
		    <td>Gult straffkort</td>
		    <td>
		    	<div class="yellowPenaltyCardHomeTeam">
			      <button class="scoreButtonText" ng-click="disabled" ng-disabled="disabled">-</button>
			      <span>0</span>
			    	<button class="scoreButtonText" ng-click="disabled" ng-disabled="disabled">+</button>
			    </div>
		    </td>
		  </tr>
      <tr>
		    <td>Rött straffkort</td>
		    <td>
		    	<div class="redPenaltyCardHomeTeam">
			      <button class="scoreButtonText" ng-click="disabled" ng-disabled="disabled">-</button>
			      <span>0</span>
			    	<button class="scoreButtonText" ng-click="disabled" ng-disabled="disabled">+</button>
			    </div>
		    </td>
		  </tr> -->
  			<tr>
  				<td></td>
  				<td></td>
  			</tr>
  	        <tr>
  						<td class="matchGuestTeam">
  							<h4><strong>{{ match.guestTeamId.name | uppercase }}</strong></h4>
  						</td>
  						<td></td>
  					</tr>
	        <tr>
				    <td><h4><strong>{{ oldResults.guestResults }}</strong></h4></td>
				    <td>
				    	<div class="guestTeamScore">
					      <button class="scoreButtonText" ng-click="decreaseGoals(match,'guestResults')" ng-disabled="decreaseDisallowed(match.guestResults)">-</button>
					      <span><strong>{{ match.guestResults }}</strong></span>
					    	<button class="scoreButtonText" ng-click="increaseGoals(match,'guestResults')" ng-disabled="increaseDisallowed(match.guestResults)">+</button>
					    </div>
				    </td>
				  </tr>
<!--       <tr>
		    <td>Gult straffkort</td>
		    <td>
		    	<div class="yellowPenaltyCardGuestTeam">
			      <button class="scoreButtonText" ng-click="disabled" ng-disabled="disabled">-</button>
			      <span>0</span>
			    	<button class="scoreButtonText" ng-click="disabled" ng-disabled="disabled">+</button>
			    </div>
		    </td>
		  </tr>
      <tr>
		    <td>Rött straffkort</td>
		    <td>
		    	<div class="redPenaltyCardGuestTeam">
			      <button class="scoreButtonText" ng-click="disabled" ng-disabled="disabled">-</button>
			      <span>0</span>
			    	<button class="scoreButtonText" ng-click="disabled" ng-disabled="disabled">+</button>
			    </div>
		    </td>
		  </tr> -->
  			<tr>
  				<td></td>
  				<td></td>
  			</tr>
			<tr>
				<td>
				<!-- 	<form class="defaultButtons" ng-submit="defaultResults()">
					  <button class="scoreButtonText" type="submit"> Ångra </button>
					</form> -->
				</td>
				<td>
					<form class="saveButton" ng-submit="saveResults()">
						<button class="btn btn-success saveButtonText" type="submit"> Spara </button>
					</form>
				</td>
			</tr>


			<tr>
				<td>
				</td>
				<td>
					<form class="endButton" ng-submit="finishGame()">
						<button class="btn btn-danger endButtonText" type="submit"> Avsluta </button>
					</form>
				</td>
			</tr>
			
    </table>
	</div>
</section>