<section>

<!-- 		<table>
			<tr>
				<td>{{ match.homeTeamId.name }} - {{ match.guestTeamId.name }}</td>
			</tr>
			<tr>
		    <td>{{ match.date }}</td>
		  </tr>
		  <tr>
		    <td>{{ match.homeTeamId.name }}</td>	
		  </tr>
		  <tr>
		    <td>{{ match.homeResults }}</td>
		  </tr>
		  <tr>
		    <td>{{ match.guestTeamId.name }}</td>
		  </tr>
		  <tr>
		    <td>{{ match.guestResults }}</td>
			</tr>
		</table> -->





	<div class="">
		<h2>{{ match.homeTeamId.name }} - {{ match.guestTeamId.name }}</h2>
		<h4>{{ match.date }}</h4>

    <table class="table table-striped table-condensed">
	        <tr>
						<th>
							{{ match.homeTeamId.name }}
						</th>
						<th></th>
					</tr>
	        <tr>
				    <td>{{ match.homeResults }}</td>
				    <td>
				    	<div class="homeTeamScore">
					      <button ng-click="decreaseGoals(match,'homeResults')" ng-disabled="decreaseDisallowed(match.homeResults)">-</button>
					      <span>{{match.homeResults}}</span>
					    	<button ng-click="increaseGoals(match,'homeResults')" ng-disabled="increaseDisallowed(match.homeResults)">+</button>
					    </div>
				    </td>
				  </tr>
    </table>
    <table class="table table-striped table-condensed">
	        <tr>
						<th>
							{{ match.guestTeamId.name }}
						</th>
						<th></th>
					</tr>

	        <tr>
				    <td>{{ match.guestResults }}</td>
				    <td>
				    	<div class="guestTeamScore">
					      <button ng-click="decreaseGoals(match,'guestResults')" ng-disabled="decreaseDisallowed(match.guestResults)">-</button>
					      <span>{{match.guestResults}}</span>
					    	<button ng-click="increaseGoals(match,'guestResults')" ng-disabled="increaseDisallowed(match.guestResults)">+</button>
					    </div>
				    </td>
				  </tr>
    </table>
	</div>



	<form ng-submit="saveResults()">
	 <!--  <input type="number" ng-model="match.homeResults" placeholder="poäng hemma">
	  <input type="number" ng-model="match.guestResults" placeholder="poäng borta"> -->
	  <button type="submit" ng-click="defaultResults()"> Ångra </button>
	  <button type="submit" ng-click="saveResults()"> Spara </button>
	</form>

</section>