<nav class="navbar navbar-inverse navbar-fixed-top top-menu">
  <div class="logged-out-light"></div>
  <div class="logged-in-light" ng-class="{'logged-in': headerUser}"></div>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="collapseToggle()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="/">Boll Koll</a>
      <p class="navbar-text">
        {{ navText }}
      </p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div ng-class="{true: 'collapse', false:''}[nav.collapsed]" class="navbar-collapse" id="top-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="home-link">
          <p ng-click="nav.collapsed = true; redirect('/')">Hem</p>
        </li>
        <li class="search-shower">
          <p ng-click="showDesktopSearch = !showDesktopSearch">Sök</p>
        </li>
      </ul>
      <form class="search-form-mobile navbar-form navbar-right" ng-submit="nav.collapsed = true; search(searchTerm)">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search here..." ng-model="searchTerm">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!headerUser">
          <p ng-click="nav.collapsed = true; redirect('/loggain')">Logga in</p>
        </li>
        <li ng-if="headerUser">
          <p ng-click="nav.collapsed = true; logout(); redirect('/')">Logga ut</p>
        </li>
        <li>
          <p ng-click="nav.collapsed = true; redirect('/om-oss')">Om oss</p>
        </li>
        <li ng-if="headerUser">
          <p ng-click="nav.collapsed = true; redirect('/anvandare/' + headerUser.username)">Profilsida</p>
        </li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<form class="search-form-desktop navbar-form navbar-right" ng-class="{'show-desktop-search': showDesktopSearch}" ng-submit="showDesktopSearch = false; nav.collapsed = true; search(searchTerm)">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search here..." ng-model="searchTerm">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </div>
</form>