<!-- Register -->
<!-- <div class="jumbotron">
   <div class="container">
      <div class="row col-sm-12 col-md-10 col-md-offset-1">
      <form class="navbar-form navbar-left" ng-submit="register()" role="search">
        <div class="form-group">
          <input type="text" ng-model="userInfo.username" class="form-control" placeholder="Användarnamn" required>
          <input type="text" ng-model="userInfo.fname" class="form-control" placeholder="Förnamn" required>
          <input type="text" ng-model="userInfo.lname" class="form-control" placeholder="Efternamn" required>
          <input type="email" ng-model="userInfo.email" class="form-control" placeholder="Email" required>
          <input type="password" ng-model="userInfo.password" class="form-control" placeholder="Lösenord" required>
          <input type="password" ng-model="userInfo.passwordCompare" class="form-control" placeholder="Lösenord igen" required>
        </div>
        <button type="submit" class="btn btn-default">Spara din profil</button>
      </form>
    </div>
  </div>
</div>
 -->

<div class="wrapper">
  <form class="form-signin" ng-submit="register()">       
    <h2 class="form-signin-heading">Please login</h2>
    <input type="text" ng-model="userInfo.username" class="form-control firstInput" placeholder="Användarnamn" required>
    <input type="text" ng-model="userInfo.fname" class="form-control middleFornInput" placeholder="Förnamn" required>
    <input type="text" ng-model="userInfo.lname" class="form-control middleFornInput" placeholder="Efternamn" required>
    <input type="email" ng-model="userInfo.email" class="form-control middleFornInput" placeholder="Email" required>
    <input type="password" ng-model="userInfo.password" class="form-control middleFornInput" placeholder="Lösenord" required>
    <input type="password" ng-model="userInfo.passwordCompare" class="form-control lastInput" placeholder="Lösenord igen" required>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Spara din profil</button>
  </form>
</div>