


<select class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-options="region.regionPath as region.regionName for region in regionsDropDown" ng-model="regionDropDown" ng-change="updateUserStore('regionDropDown')">
  <option value="">-Välj region-</option>
</select>



<!-- <div class="btn-group" dropdown is-open="status.isopen">
  <button id="single-button" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
    Button dropdown <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
    <li role="menuitem"><a href="#">Action</a></li>
    <li role="menuitem"><a href="#">Another action</a></li>
    <li role="menuitem"><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li role="menuitem"><a href="#">Separated link</a></li>
  </ul>
</div> -->