<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Hälsingland div 4</h3>
      </div>
      <div class="panel-body">
        Tabell
      </div>
      <table class="table table-striped">
        <tr>
          <th>Lag</th>
          <th>S</th>
          <th>V</th>
          <th>O</th>
          <th>F</th>
          <th>GM</th>
          <th>IM</th>
          <th>P</th>
        </tr>
        <tr ng-repeat="team in getTeams">
          <td>{{team.name}}</td>
          <td>{{team.gamesPlayed}}</td>
          <td>{{team.gamesWon}}</td>
          <td>{{team.gamesDrawn}}</td>
          <td>{{team.gamesLost}}</td>
          <td>{{team.goalsFor}}</td>
          <td>{{team.goalsAgainst}}</td>
          <td>{{team.Points}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>