<section class="col-xs-4 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 whiteBorder">
	<div class="matchTopTeam">
    <table style="width:100%" class="table table-striped table-condensed">
			<tr>
				<td>
					<cropme class="col-md-offset-3"

		        width="300"
		        height="300"
		        ratio="1"
		        icon-class=""
		        type="jpg"
		        destination-width="500"
		        id="cropme1"
		        ok-label="Spara bild"
		        src="chosenPicture"
		        cancel-label="Ångra bild">
		    	</cropme>
				</td>
			</tr>

      <tr>
				<td>Förnamn: {{user.fname}}</td>
			</tr>

      <tr>
		    <td>Efternamn: {{user.lname}}</td>
		  </tr>

      <tr>
		    <td>Användarnamn: {{user.username}}</td>
		  </tr>

			<tr>
				<td>
					<form class="defaultButton" ng-submit="defaultProfile()">
					  <button class="btn btn-warning blackText centerIt" type="submit"> ÅNGRA </button>
					</form> 
				</td>
			</tr>
<!-- 			<tr>
				<td>
					<form class="saveButton" ng-submit="saveProfile()">
						<button class="blackText" type="submit"> Spara </button>
					</form>
				</td>
			</tr> -->
    </table>
	</div>
</section>