
<img src="{{image.path}}" class="img-circle col-xs-12 col-sm-12 col-md-12 col-lg-3">

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<h3>Namn: {{user.fname}} {{user.lname}}</h3>
	<h3>Användarnamn: {{user.username}}</h3>
</div>


<form class="saveButton" ng-submit="editProfile()">
  <button class="blackText" type="submit"> Editera bild </button>
</form>


<section>
  <div class="matchTopTeam">
    <table style="width:100%" class="table table-striped table-condensed">

      <tr>
        <td>
          <cropme
            width="300"
            height="300"
            ratio="1"
            icon-class=""
            type="jpg"
            destination-width="300"
            id="cropme1"
            ok-label="Ok"
            src="chosenPicture"
            cancel-label="Cancel">
          </cropme>
        </td>
      </tr>

      <tr>
        <td>Förnamn: {{user.fname}}</td>
      </tr>

      <tr>
        <td>Efternamn: {{user.lname}}</td>
      </tr>

      <tr>
        <td>Användarnamn: {{user.username}}</td>
      </tr>

    </table>
  </div>
</section>