<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<img class="profilbild" src="{{image.path}}" height="400" width="400">

<h3>Förnamn: {{user.fname}}</h3>
<h3>Efternamn: {{user.lname}}</h3>
<h3>Användarnamn: {{user.username}}</h3>







<form ng-submit="upload()">
       <div class="form-group">
  
        <input type="file" class="form-control" ngf-select ng-model="files">
      </div>

      <div class="form-group">
        <button class="btn btn-success">Upload!</button>
      </div>
</form>

</div>