@import "less/top-menu.less";
@import "less/main-menu.less";
@import "less/matches.less";
@import "less/alert-box.less";
 
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
  content: 'bananas';
}

.container{
	margin: 65px 0 0;
}

.hide-element {
  max-height: 0;
  opacity: 0;
}