@import "less/components/top-menu.less";
@import "less/components/main-menu.less";
@import "less/components/matches.less";
@import "less/components/alert-box.less";
@import "less/components/matchStatus.less";
@import "less/components/chat.less";
@import "less/components/login.less";
@import "less/components/profilePage.less";
@import "less/components/profileSettingsPage.less";
@import "less/components/cropme.less";
@import "less/components/register.less";
@import "less/components/searchResults.less";
@import "less/components/about.less";
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
  content: 'bananas';
}
.container{
  margin-top: 65px;
}
.hide-element {
  max-height: 0;
  opacity: 0;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
  background-image: url("@{base-url}/flashlight.jpg");
  background-size: cover !important;
  margin-top: 65px;
}
.whiteBorder {
  border: 5px solid #fff;
  border-radius: 5px;
  padding: 0;
}

@font-face {
  font-family: 'sf_collegiateregular';
  src: url('./../fonts/SF_Collegiate-webfont.eot');
  src: url('./../fonts/SF_Collegiate-webfont.eot?#iefix') format('embedded-opentype'),
       url('./../fonts/SF_Collegiate-webfont.woff') format('woff'),
       url('./../fonts/SF_Collegiate-webfont.ttf') format('truetype'),
       url('./../fonts/SF_Collegiate-webfont.svg#sf_collegiateregular') format('svg');
  font-weight: normal;
  font-style: normal;

}






















