@base-url: "../backround_images";

body {
  background-image: url("@{base-url}/flashlight.jpg");
}

// h2 {
//   color: #fff;
//   // background-color: red;
//   background-image: url("@{base-url}/Bollkoll - 3 - Table/table-2.1-light.jpg");
// }

// h4 {
//   color: #fff;
//   background-image: url("@{base-url}/Bollkoll - 3 - Table/table-2.1-light.jpg");
// }

// .table-striped > tbody > tr:nth-of-type(odd) {
//   background-color: transparent;
// }

  //   color: #fff;
  //   background-color: red;
  //   // background-image: url("@{base-url}/Bollkoll - 3 - Table/table-2.1-light.jpg");
  //   // cursor: pointer;
  // }  tr {


  tr:nth-child(even){
    color: #fff;
    // background-color: yellow;
    background-image: url("@{base-url}/Bollkoll - 3 - Table/table-1.2-dark.jpg");
    // cursor: pointer;
  }

    tr:nth-child(odd){
    color: #fff;
    // background-color: red !important;
    background-image: url("@{base-url}/Bollkoll - 3 - Table/table-2.1-light.jpg") !important;
    // cursor: pointer;
  }


// .table2 tr:nth-child(even){
//   color: #fff; 
//   background-image: url("@{base-url}/Bollkoll - 3 - Table/table-1.1-light.jpg");
//   // cursor: pointer;
// }

// .table2 tr:nth-child(odd) {
//   color: #fff;
//   background-image: url("@{base-url}/Bollkoll - 3 - Table/table-2.1-light.jpg");
//   // cursor: pointer;
// }

.table {
  margin-bottom: 0px;
}
