@base-url: "../backround_images";

body {
  background-image: url("@{base-url}/flashlight.jpg");
}

.mainMenu {
  padding: 0;
}

tr td {
  color: #fff;
  height: 43px;
  vertical-align: middle !important;
}

.defaultSaveButtons.blackText {
  // display: inline-block;
  // text-align: center;
  float: left;
}

h2 {
  color: #fff;
  background-image: url("@{base-url}/Bollkoll - 3 - Table/table-1.2-dark.jpg");
}

.matchTopTeam h2 {
  margin: 0;
  // margin-bottom: 0;
}

tr:nth-child(even){
  // background-color: yellow;
  background-image: url("@{base-url}/Bollkoll - 3 - Table/table-1.2-dark.jpg");
  // cursor: pointer;
}

  tr:nth-child(odd){
  // background-color: red !important;
  background-image: url("@{base-url}/Bollkoll - 3 - Table/table-2.1-light.jpg") !important;
  // cursor: pointer;
}

.blackText {
  color: #000;
}

.table {
  margin-bottom: 0px;
}

.matchTopTeam h2 {
  text-align: center;
}

// .homeTeamScore span {
//   margin: 0 8px;
// }
