@base-url: "../backround_images";

.fontaw {
  background: rgba(252,186,106,1);
  background: -moz-linear-gradient(top, rgba(252,186,106,1) 0%, rgba(255,151,21,1) 47%, rgba(255,146,10,1) 53%, rgba(255,132,0,1) 63%, rgba(235,125,0,1) 74%, rgba(222,122,0,1) 85%, rgba(168,88,2,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,186,106,1)), color-stop(47%, rgba(255,151,21,1)), color-stop(53%, rgba(255,146,10,1)), color-stop(63%, rgba(255,132,0,1)), color-stop(74%, rgba(235,125,0,1)), color-stop(85%, rgba(222,122,0,1)), color-stop(100%, rgba(168,88,2,1)));
  background: -webkit-linear-gradient(top, rgba(252,186,106,1) 0%, rgba(255,151,21,1) 47%, rgba(255,146,10,1) 53%, rgba(255,132,0,1) 63%, rgba(235,125,0,1) 74%, rgba(222,122,0,1) 85%, rgba(168,88,2,1) 100%);
  background: -o-linear-gradient(top, rgba(252,186,106,1) 0%, rgba(255,151,21,1) 47%, rgba(255,146,10,1) 53%, rgba(255,132,0,1) 63%, rgba(235,125,0,1) 74%, rgba(222,122,0,1) 85%, rgba(168,88,2,1) 100%);
  background: -ms-linear-gradient(top, rgba(252,186,106,1) 0%, rgba(255,151,21,1) 47%, rgba(255,146,10,1) 53%, rgba(255,132,0,1) 63%, rgba(235,125,0,1) 74%, rgba(222,122,0,1) 85%, rgba(168,88,2,1) 100%);
  background: linear-gradient(to bottom, rgba(252,186,106,1) 0%, rgba(255,151,21,1) 47%, rgba(255,146,10,1) 53%, rgba(255,132,0,1) 63%, rgba(235,125,0,1) 74%, rgba(222,122,0,1) 85%, rgba(168,88,2,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcba6a', endColorstr='#a85802', GradientType=0 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:30px;
}
th{
  color:#fff;
  background-image: url("@{base-url}/Bollkoll - 3 - Table/table-1.2-dark.jpg");

}
.matches-table{

  .first-tr:nth-child(1){
    color:#fff;
    background-image: url("@{base-url}/Bollkoll - 3 - Table/table-2.1-light.jpg");
    cursor: pointer;
  }
  tr:nth-child(2) {
    color:#fff;
    background-image: url("@{base-url}/greey-light.jpg");
    cursor: pointer;
  }
}