@base-url: "../backround_images";

body {
  background-image: url("@{base-url}/flashlight.jpg");

}

.mainMenu {
  padding: 0;
}

h3 {
  color: #fff;
  background-image: url("@{base-url}/Bollkoll - 3 - Table/table-1.2-dark.jpg");

}

.editprofile {
    color: #fff;
    padding: 10px;
    background-image: url("@{base-url}/Bollkoll - 3 - Table/table-1.2-dark.jpg");

}

