<section>
  <div class="panel panel-default">
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
      <p>Some text for coming games</p>
    </div>
  <!--   <div class="container">
      {{minLjusdal}}
    </div> -->

    <!-- Table for comming  -->

    <form ng-submit="saveIT()">
      <select type="text" ng-model="homeTeam._id" value="homeTeam._id" ng-options="homeTeam.name for homeTeam in homeTeams">
        <option value=""> Hemmalag </option>
      </select>

      <select type="text" ng-model="guestTeam._id" value="guestTeam._id" ng-options="guestTeam.name for guestTeam in guestTeams">
        <option value=""> Bortalag </option>
      </select>

      <input type="text" ng-model="match.place" placeholder="Plats">
      <input type="text" ng-model="match.date" placeholder="Datum">
      <input type="text" ng-model="match.time" placeholder="Tid">
      <button type="submit">Spara match</button>
    </form>




    <table class="table">
      <tr>
        <th>Hemma - Borta</th>
        <th>Tid</th>
        <th>I Glyff</th>
        <th>√ Glyff</th>
      </tr>


<!-- 
      <tr ng-repeat="game in games">
        <td>{{ game. }}</td> -->


    <tbody ng-repeat="game in games">
      <tr ng-click="toggleID(game._id)"> <!-- Results ng-repete and hide every second row -->
        <td>{{ game.homeTeamId.name }} - {{ game.guestTeamId.name }}</td>
        <td>{{ game.date }}</td>
        <td>Info</td>
        <td>Status</td>
      </tr>
      <tr ng-hide="currentlyShownResult(game._id)">
        <td>{{ game.homeResults }} - {{ game.guestResults }}</td>
        <td>{{ game.time }}</td>
        <td>Chatt</td>
        <td>Update</td>
      </tr>
    </tbody>

    </table>





    <!-- Table for played  -->
    <div class="panel-body">
      <p>Some text for played games</p>
    </div>
     <table class="table">
      
    </table>
  </div>
</section>