<nav class="navbar navbar-inverse navbar-fixed-top top-menu">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="collapseToggle()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="/">Boll Koll</a>
      <p class="navbar-text">{{navText}}</p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div ng-class="{true: 'collapse', false:''}[navCollapsed]" class="navbar-collapse" id="top-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="home-link">
          <a ng-href="/" ng-click="navCollapsed = true">Hem</a>
        </li>
        <li>
          <a ng-href="/loggain" ng-click="navCollapsed = true">Logga in</a>
        </li>
        <li>
          <a ng-href="/om-oss" ng-click="navCollapsed = true">Om oss</a>
        </li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>